.mdl-layout__drawer > .mdl-layout-title {
    padding-left: 25px;
}

.mdl-layout-title .mdl-button {
    top: 10px;
    right: 0;
    position: absolute;
    margin-right: 10px;
}

.mdl-data-table {
    width: 100%;
    white-space: normal;
    border: 0;
}

.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
    /*padding-left: 18px;*/
}

.mdl-data-table td,
.mdl-data-table th {
    padding-left: 10px;
}

.mdl-layout__content
{
    padding-top: 44px;
}
.page-content {
    padding: 0 32px;
}
